{% extends "layout.html" %}
{% block body %}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 top">
      <div class="title-and-search">
        <h1 class="text-center proj-title">GitHub Crystal</h1>
        <span class="subtitle">Is your project a good one?</span>
        <div class="form-group search-input-container">
          <input class="form-control search autocomplete" placeholder="Search by Keywords OR Topics">
          <button class="btn btn-primary btn-submit">Find out</button>
          <div class="checkbox">
            <input class="code-repo-only" type="checkbox"> Code Repo Only
          </div>
          <div class="loading-btn"><i class="fa fa-spinner fa-spin"></i></div>
          <div class="floating-tags"></div>
        </div>
        <!-- <input type="text" name="country" id="autocomplete"/> -->
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='main.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.autocomplete.js') }}"></script>

{% endblock %}