@font-face {
  font-family: Moon;
  src: url("/static/Moon.otf") format("opentype");
}

@font-face {
  font-family: Biko;
  src: url("/static/Biko_Regular.otf") format("opentype");
}

@font-face {
  font-family: Bikobold;
  src: url("/static/Biko_Bold.otf") format("opentype");
}
